header{
    color: violet;
    text-align: center;
    align-content: center;
}

#banner{
    text-align: center;
    align-content: center;
}

#byannie{
    background-color: blueviolet;
    color: white;
    text-align: center;
}